*.config.js
*.config.mjs
*.config.cjs
*.config.ts
*.config.cts
*.config.mts
specific-config-file.js
**.*.json
**/node_modules/**
**/dist/**
**/coverage/**
**/build/**
**/out/**
**/temp/**
**/logs/**
**/cache/**
**/vendor/**
**/public/**
**/*/*.md
**/*/*.json
**/*/*.yaml
**/*/*.yml
**/*/*.lock
**/*/*.lockfile
**/*/*.snap
**/*/*.tsbuildinfo
**/*/*.js.map
**/*/*.d.ts
**/*/*.test.js
**/*/*.test.ts
**/*/*.spec.js
**/*/*.spec.ts
**/*/*.stories.js
**/*/*.stories.ts
**/*/*.example.js
**/*/*.example.ts
**/*/*.fixture.js
**/*/*.fixture.ts
**/*/*.template.js
**/*/*.template.ts
**/*/*.mocks.js
**/*/*.mocks.ts
**/*/*.mock.js
**/*/*.mock.ts
**/*/*.fakes.js
**/*/*.fakes.ts
**/*/*.fake.js
**/*/*.fake.ts
**/*/*.dummys.js
**/*/*.dummys.ts
**/*/*.dummy.js
**/*/*.dummy.ts
**/*/*.stubs.js
**/*/*.stubs.ts
**/*/*.stub.js
**/*/*.stub.ts
**/*/*.spies.js
**/*/*.spies.ts
**/*/*.spy.js
**/*/*.spy.ts
**/*/*.d.ts
